<h1>Vehicles List</h1>

<table>
  <tr>
    <th>Vehicle</th>
    <th>Vehicle identifier</th>
    <th>Show recents coordinates</th>
  </tr>

  <% @vehicles.each do |vehicle| %>
    <tr>
      <td><%= vehicle.id %></td>
      <td><%= vehicle.vehicle_identifier %></td>
      <td><%= link_to "Show recent coordinates", vehicle_show_path(vehicle.id) %></td>
    </tr>
  <% end %>

</table>
