<h1>Vehicles Number <%= @vehicle.id %> Details</h1>

<p><strong>Vehicle vehicle_identifier</strong></p>
<p> <%= @vehicle.vehicle_identifier %> </p>
<br>

<!-- <div style='width: 800px;'>
  <div id="map-canvas" style='width: 800px; height: 400px;'></div>
</div> -->

<div id="map" style="border: 2px solid #3872ac;"></div>
