<div class="container">
  <div class="row">
    <div class="col-md-9"><h1>Vehicles' most recent coordinate</h1></div>
    <div class="col-md-3"><%= link_to "Back", root_path, class: "btn btn-info pull-right btn-back" %></div>
  </div>
  <hr>
  <br>

  <div id="map" class="map-border"></div>
</div>

